@import "../../styles/fonts/fonts";
@import "../../styles/colors/colors";
@import "../../styles/variables/variables";

.hero {
  height: calc(100vh - $nav-height);
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.hero .col {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

.hero .col-1 {
  justify-content: flex-start;
  color: #fff;
  background-image: url("./images/hero-img-1-lg.svg");
  background-position: bottom;
  background-repeat: no-repeat;

  @media screen and (max-width: 900px) {
    background-image: url("./images/hero-img-1-md.svg");
    background-position: right;
  }

  @media screen and (max-width: 768px) {
    justify-content: center;
    align-items: flex-start;
    background-image: url("./images/hero-img-1-sm.svg");
    background-position: bottom;
  }
  .content {
    margin-bottom: 3em;
    width: 70%;

    @media screen and (max-width: 900px) {
      margin-bottom: 0;
      width: 60%;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      margin-top: 6em;
    }

    h1 {
      font-size: 2.5rem;

      @media screen and (max-width: 900px) {
        font-size: 2rem;
      }

      //       &::before {
      //         content: "";
      //         position: absolute;
      //         top: -20px;
      //         left: 0;
      //         width: 100px;
      //         height: 3px;
      //         border-radius: 100px;
      //         background-color: $bg-color-secondary;
      //       }
    }

    .header-line {
      display: block;
      width: 100px;
      height: 3px;
      background-color: $bg-color-secondary;
      margin-bottom: 1em;
    }

    button {
      all: unset;
      background-color: $bg-color-secondary;
      padding: 1em 2em;
      border-radius: 10px;
      color: #fff;
      margin-top: 3em;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
      cursor: pointer;
      transition: all 300ms ease-out;

      @media screen and (max-width: 900px) {
        font-size: 0.7rem;
      }
      @media screen and (max-width: 768px) {
        padding: 1em;
      }

      .iconify {
        font-size: 1.2rem;
        margin-right: 1em;

        @media screen and (max-width: 768px) {
          margin-right: 0.5em;
        }
      }

      &:hover {
        transform: translateY(-3px);
        box-shadow: $bg-color-secondary 0px 10px 10px -10px;
      }
    }
  }
}
