@import "../fonts/fonts";
@import "../colors/colors";
@import "../variables/variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: aliceblue;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  height: $nav-height;
  background-color: $bg-color-primary;

  .container {
    height: 100%;
  }
}

main {
  margin-top: $nav-height;
  min-height: calc(100vh - $nav-height);
  background-color: $bg-color-primary;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: $bg-color-primary;
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: none;
}
