@import url("https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: aliceblue;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #131a26;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container {
  height: 100%;
}

main {
  margin-top: 60px;
  min-height: calc(100vh - 60px);
  background-color: #131a26;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: #131a26;
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: none;
}

nav {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
  }
}

nav h1 a {
  color: white;
  font-family: "Lily Script One";
  font-size: 1.3rem;
  font-weight: 400;
}

nav .menu {
  display: none;
}
@media screen and (max-width: 768px) {
  nav .menu {
    display: block;
  }
}
nav .menu .iconify {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

nav .nav-items {
  display: flex;
  align-items: center;
  flex-grow: 1;
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  nav .nav-items {
    position: absolute;
    top: 60px;
    right: -100%;
    width: 100%;
    min-height: calc(100vh - 60px);
    background-color: #131a26;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    transition: right 400ms linear;
  }
  nav .nav-items.toggled {
    right: 0;
  }
}
nav .nav-items .nav-icons {
  flex-grow: 1;
  color: white;
  margin-left: 3em;
}
@media screen and (max-width: 900px) {
  nav .nav-items .nav-icons {
    visibility: hidden;
  }
}
@media screen and (max-width: 768px) {
  nav .nav-items .nav-icons {
    visibility: visible;
    flex-grow: unset;
    margin-left: 0;
  }
}
nav .nav-items .nav-icons .iconify {
  font-size: 0.8rem;
  margin-right: 1em;
  cursor: pointer;
  transition: transform 300ms ease-out;
}
nav .nav-items .nav-icons .iconify:last-child {
  margin-right: 0;
}
nav .nav-items .nav-icons .iconify:hover {
  transform: scale(1.2);
}
nav .nav-items .nav-links {
  display: flex;
}
@media screen and (max-width: 768px) {
  nav .nav-items .nav-links {
    flex-direction: column;
    align-items: center;
  }
}
nav .nav-items .nav-links li {
  margin-right: 1.5em;
  position: relative;
}
@media screen and (max-width: 768px) {
  nav .nav-items .nav-links li {
    margin-right: 0;
    margin-bottom: 2.5em;
  }
  nav .nav-items .nav-links li:last-child {
    margin-top: 1em;
  }
}
nav .nav-items .nav-links li:not(:last-child):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #fff;
  opacity: 0;
  transition: opacity 300ms ease-out;
}
@media screen and (max-width: 768px) {
  nav .nav-items .nav-links li:not(:last-child):after {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
nav .nav-items .nav-links li:hover::after {
  opacity: 1;
}
nav .nav-items .nav-links li a {
  display: block;
  padding: 0.8em;
  border-radius: 5px;
}
nav .nav-items .nav-links li:last-child {
  margin-right: 0;
}
nav .nav-items .nav-links li:last-child a {
  margin-right: 0;
  background-color: #293241;
  transition: padding 300ms ease-out;
}
nav .nav-items .nav-links li:last-child:hover a {
  padding-inline: 1em;
}

.hero {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  .hero {
    flex-direction: column;
  }
}

.hero .col {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  .hero .col {
    width: 100%;
  }
}

.hero .col-1 {
  justify-content: flex-start;
  color: #fff;
  background-image: url("../../images/hero/hero-img-1-lg.svg");
  background-position: bottom;
  background-repeat: no-repeat;
}
@media screen and (max-width: 900px) {
  .hero .col-1 {
    background-image: url("../../images/hero/hero-img-1-md.svg");
    background-position: right;
  }
}
@media screen and (max-width: 768px) {
  .hero .col-1 {
    justify-content: center;
    align-items: flex-start;
    background-image: url("../../images/hero/hero-img-1-sm.svg");
    background-position: bottom;
  }
}
.hero .col-1 .content {
  margin-bottom: 3em;
  width: 70%;
}
@media screen and (max-width: 900px) {
  .hero .col-1 .content {
    margin-bottom: 0;
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .hero .col-1 .content {
    width: 100%;
    margin-top: 6em;
  }
}
.hero .col-1 .content h1 {
  font-size: 2.5rem;
}
@media screen and (max-width: 900px) {
  .hero .col-1 .content h1 {
    font-size: 2rem;
  }
}
.hero .col-1 .content .header-line {
  display: block;
  width: 100px;
  height: 3px;
  background-color: #293241;
  margin-bottom: 1em;
}
.hero .col-1 .content button {
  all: unset;
  background-color: #293241;
  padding: 1em 2em;
  border-radius: 10px;
  color: #fff;
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 300ms ease-out;
}
@media screen and (max-width: 900px) {
  .hero .col-1 .content button {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 768px) {
  .hero .col-1 .content button {
    padding: 1em;
  }
}
.hero .col-1 .content button .iconify {
  font-size: 1.2rem;
  margin-right: 1em;
}
@media screen and (max-width: 768px) {
  .hero .col-1 .content button .iconify {
    margin-right: 0.5em;
  }
}
.hero .col-1 .content button:hover {
  transform: translateY(-3px);
  box-shadow: #293241 0px 10px 10px -10px;
}

.about {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  .about {
    padding-top: 5em;
    flex-direction: column;
  }
}

.about .cols {
  display: flex;
  margin-top: 5em;
  margin-bottom: 10em;
}
@media screen and (max-width: 900px) {
  .about .cols {
    flex-direction: column;
  }
}

.about .col {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  .about .col {
    width: 100%;
  }
}

.about .col-1 {
  justify-content: flex-start;
  color: #fff;
}
@media screen and (max-width: 900px) {
  .about .col-1 {
    justify-content: center;
  }
}
.about .col-1 .content span {
  display: block;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1rem;
  margin-bottom: 0.5em;
}
.about .col-1 .content .name {
  width: 250px;
  height: 110px;
  border-radius: 20px;
  background-color: #293241;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}
.about .col-1 .content .name .iconify {
  margin-right: 1em;
  font-size: 1.5rem;
}
.about .col-1 .content .carrier {
  width: 250px;
  height: 110px;
  border-radius: 20px;
  background-color: #293241;
  margin-left: 5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2em 1em;
}
.about .col-1 .content .carrier h2:nth-child(2) {
  margin-top: 1.5em;
  margin-left: 5.2em;
}
.about .col-1 .content .name,
.about .col-1 .content .carrier {
  transition: transform 300ms ease-out;
}
.about .col-1 .content .name:hover,
.about .col-1 .content .carrier:hover {
  transform: scale(1.05);
}

.about .col-2 {
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
}
@media screen and (max-width: 900px) {
  .about .col-2 {
    align-items: center;
    padding-top: 2em;
  }
}

.about .col-2 p {
  font-size: 1rem;
  line-height: 25px;
  color: rgb(198, 198, 198);
}
@media screen and (max-width: 900px) {
  .about .col-2 p {
    text-align: center;
  }
}
.about .col-2 button {
  all: unset;
  border: 1px solid #293241;
  color: rgb(198, 198, 198);
  border-radius: 10px;
  padding: 1em 2em;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 300ms ease-out;
}
.about .col-2 button:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.about .col-2 .skills {
  display: flex;
  gap: 2em;
}
.about .col-2 .skills ul {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  margin-left: 1em;
}
.about .col-2 .skills ul li {
  margin-bottom: 0.8em;
  color: #607495;
}
.about .col-2 .skills ul li:first-child {
  color: rgb(198, 198, 198);
  margin-bottom: 1em;
  list-style: disc;
  font-weight: bold;
}

.section-header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.section-header h1 {
  font-size: 1.2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.section-header h1:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #293241;
  border-radius: 100px;
}

.works {
  min-height: calc(100vh - 60px);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 2em;
}

.works .more {
  width: 100%;
  display: flex;
  justify-content: center;
}
.works .more p {
  font-size: 1rem;
  padding: 0.6em 2em;
  background-color: #293241;
  border-radius: 10px;
  transition: padding 300ms ease-out;
  cursor: pointer;
}
.works .more p:hover {
  padding-inline: 2.2em;
}

.works .work-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-block: 5em;
}

.works .work-container .work {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  background-color: #293241;
  border-radius: 10px;
  padding: 2em;
  gap: 2em;
  transition: transform 300ms ease-out;
}
.works .work-container .work:hover {
  transform: scale(1.05);
}
.works .work-container .work .icons .iconify {
  font-size: 2rem;
}
.works .work-container .work .name {
  font-size: 1.2rem;
}
.works .work-container .work .description {
  font-size: 1rem;
  opacity: 0.8;
}
.works .work-container .work .used-techs {
  margin-top: 5em;
  font-weight: bold;
  opacity: 0.8;
}/*# sourceMappingURL=main.css.map */