@import "../fonts/fonts";
@import "../colors/colors";
@import "../variables/variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  background-color: white;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  height: $nav-height;
  background-color: $bg-color-primary;

  .container {
    height: 100%;
  }
}

main {
  height: calc(100vh - $nav-height);
  margin-top: $nav-height;
}
