<body>
  <div class="about container" id="about">
    <div class="col col-1">
      <div class="content">
        <span>Hi, I am</span>
        <div class="name">
          <span class="iconify" data-icon="mdi:hand-wave-outline"></span>
          <h1>Muhammad</h1>
        </div>
        <div class="carrier">
          <h2>Web Design</h2>
          <h2>Web developer</h2>
        </div>
      </div>
    </div>
    <div class="col col-2">
      <p>
        I’m a software engineer specializing in building (and occasionally
        designing) exceptional digital experiences. Currently, I’m focused on
        building accessible, human-centered products at Upstatement.
      </p>
      <button>Check out my works</button>
      <div class="skills">
        <ul>
          <li class="header">Design</li>
          <li>Adobe XD</li>
          <li>Figma</li>
        </ul>
        <ul>
          <li class="header">Front-end</li>
          <li>HTML, CSS, Javascript</li>
          <li>React.js</li>
          <li>Bootstrap, Bulma, Tailwind</li>
        </ul>
      </div>
    </div>
  </div>
</body>
